<h1>WELCOME TO YELP COPYCAT</h1>
<h2>List of all the restaurants</h2>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%=link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>
</ul>
<%= link_to "+ Add a new restaurant", new_restaurant_path, class: "btn btn-primary" %>
